/* Reset HTML */

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* TAG Mods */

main{
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: black;
    justify-content: center;
}


/* Main */

.main_section{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    overflow-x: auto;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 0.3%;
    column-gap: 0.1%;
    padding-top: 3%;
}    

.img_container{
    display: flex;
    width: 300px;
    height: 250px;
    background-image: url(https://picsum.photos/300/200.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.micimg_container{
    position: absolute;
    width: 120px;
    height: 25px;
    bottom: 10px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.size_font_mic{
    color: white;
    font-size: 0.8em;
    vertical-align: middle;
    text-align: center;
}